<footer class="bg-dark text-light py-4">
  			<div class="container">
   				<div class="row">

      					<!-- Links principais -->
      					<div class="col-md-4">
        					<h5 class="fw-bold">Navegação</h5>
        					<ul class="list-unstyled">
          						<li><a href="href="https://ultraacademia.com.br/index.php?AC=Unidades" class="text-light text-decoration-none">Unidades</a></li>
          						<li><a href="https://ultraacademia.com.br/index.php?AC=Modalidades" class="text-light text-decoration-none">Modalidades</a></li>
          						<li><a href="https://ultraacademia.com.br/index.php?AC=Faq" class="text-light text-decoration-none">Perguntas Frequentes</a></li>
        					</ul>
      					</div>

      					<!-- Contato / Social -->
      					<div class="col-md-4">
        					<h5 class="fw-bold">Contato</h5>
        					<p class="mb-1">Telefone: (11) 94123-6314</p>
        					<p class="mb-1">Email: contato@ultraacademia.com.br</p>
      					</div>

      					<!-- Direitos -->
      					<div class="col-md-4 text-md-end">
        					<p class="mb-0">© 2025 Todos os direitos reservados.</p>
        					<p class="mb-0">ControlGym - Gestão Inteligente</p>
      					</div>

    				</div>
  			</div>
		</footer>
