<nav class="navbar fixed-top navbar-dark bg-dark py-1">
  			<div class="container-fluid px-2">
				<!-- ESQUERDA -->
    				<div class="d-flex align-items-center">
      					<button class="navbar-toggler ultra-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarUltra">
  						<span class="navbar-toggler-icon">
							<span></span>
						</span>
					</button>
      					<a class="navbar-brand p-0 me-2 ms-2" href="#">
        					<img src="img/logotipo.svg" height="62" alt="Ultra Academia">
      					</a>
					<h2 class="fw-bold text-uppercase ultra-title mb-2 display-6 align-self-center ultra-pink">V. Guilherme</h2>
    				</div>
    				<!-- MENU -->
    				<div class="collapse navbar-collapse" id="navbarUltra">
      					<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        					<li class="nav-item"><a class="nav-link" href="https://ultraacademia.com.br/index.php?AC=Unidades">Unidades</a></li>
        					<li class="nav-item"><a class="nav-link" href="https://ultraacademia.com.br/index.php?AC=Modalidades">Modalidades</a></li>
        					<li class="nav-item"><a class="nav-link" href="https://ultraacademia.com.br/index.php?AC=Faq">Perguntas frequentes</a></li>
      					</ul>
      					<a class="btn btn-danger btn-sm ms-lg-3">
        					Quero me matricular
      					</a>
    				</div>
			</div>
</nav>